<html>
    <head>
        <title>🔒 Alias</title>


        <script type="application/javascript" src="/jquery-3.4.1.min.js"></script>
        <script type="application/javascript" src="/header.js"></script>
        <script type="application/javascript" src="/sodium.js"></script>
        <script type="application/javascript" src="/anychain.js"></script>
        <script type="application/javascript" src="/aliasChains.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <style>
            html, body {
                font-family: 'Roboto', sans-serif;
            }

            .raw {
                font-size: 80%;
            }

            .status {
                color: gray;
            }

            .error {
                color: red;
            }

        </style>
    </head>

    <body>
        <div id="body">
            <h1>{{ title }}</h1>
            <div v-if="error">
                <p><b>Error</b> returned: {{ error }}</p>
            </div>

            <div v-if="forged">
                <h2></h2>
            </div>

            <div v-if="grant">
                <ul>
                    <li>Hash: <code>{{ grantHash }}</code></li>
                    <li>Contract Hash: <code>{{ contractHash }}</code></li>
                    <li>Signer: <code>{{ grantJSON.signer.__bytes }}@{{ bind.body.domain }}</code></li>
                    <li>Date: {{ niceGrantDate }}</li>
                    <li>Scopes: <ul>
                        <li v-for="s in scopes"><code>{{ s }}</code></li>
                    </ul></li>
                </ul>

                <h2>Data</h2>
                <div v-if="dataError == null && data == null" class="status">
                    Waiting for authorization server to fetch data. This may be
                    long...
                </div>

                <div v-if="dataError != null" class="error">
                    {{ dataError }}
                </div>

                <div v-if="data != null">
                    <button v-on:click="refresh(true)">Refresh data</button>
                    <h3>Listing</h3>
                    <pre><span v-for="fn in data.resources"><a :href="fileURL(fn)">{{fn}}</a><br /></span></pre>
                    <pre v-if="data.resources.length == 0" style="color: gray;">(no data)</pre>

                </div>


                <h2>Raw</h2>
                <pre class="raw">{{ grantJSON }}</pre>
            </div>
        </div>
        <script type="application/javascript" src="index.js"></script>
    </body>
</html>
